--
-- PostgreSQL database dump
--

\restrict PbyUrD6HD70W1Y6njW8c3OYz8gj0edFzZuqyGJZTqyrzxdxBnutLIeDZ43hYceN

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: tasks_data; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.tasks_data (
    task_id integer NOT NULL,
    user_id integer NOT NULL,
    title character varying(255) NOT NULL,
    deadline date NOT NULL,
    description text NOT NULL,
    tags text[] DEFAULT '{}'::text[] NOT NULL,
    status character varying(20) DEFAULT 'Pending'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    expired boolean DEFAULT false NOT NULL,
    image_url text,
    image_public_id text,
    CONSTRAINT tasks_data_status_check CHECK (((status)::text = ANY ((ARRAY['Pending'::character varying, 'Completed'::character varying])::text[]))),
    CONSTRAINT tasks_description_not_blank CHECK ((length(TRIM(BOTH FROM description)) > 0)),
    CONSTRAINT tasks_tags_not_empty CHECK ((array_length(tags, 1) >= 1)),
    CONSTRAINT tasks_title_not_blank CHECK ((length(TRIM(BOTH FROM title)) > 0))
);


--
-- Name: tasks_data_task_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.tasks_data_task_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: tasks_data_task_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.tasks_data_task_id_seq OWNED BY public.tasks_data.task_id;


--
-- Name: users_data; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users_data (
    user_id integer NOT NULL,
    username character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    refresh_token_hash text
);


--
-- Name: users_data_user_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.users_data_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: users_data_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.users_data_user_id_seq OWNED BY public.users_data.user_id;


--
-- Name: tasks_data task_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tasks_data ALTER COLUMN task_id SET DEFAULT nextval('public.tasks_data_task_id_seq'::regclass);


--
-- Name: users_data user_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_data ALTER COLUMN user_id SET DEFAULT nextval('public.users_data_user_id_seq'::regclass);


--
-- Data for Name: tasks_data; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: users_data; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.users_data (user_id, username, email, password, refresh_token_hash) FROM stdin;
1	artyomagadzhanyan	artyom.agadzhanyan250@gmail.com	$2b$12$BQoFeYgI9EVZSlkoR3jE3.K6UOGO08y/6A0/iQUqSgg6VbUFC/0Wa	$2b$12$M3M9LuDyeRb3eI.Z0Jb1E.a35wlS8rP/w3xu2YMFkKVX/n/zRcm5m
\.


--
-- Name: tasks_data_task_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.tasks_data_task_id_seq', 17, true);


--
-- Name: users_data_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.users_data_user_id_seq', 1, true);


--
-- Name: tasks_data tasks_data_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tasks_data
    ADD CONSTRAINT tasks_data_pkey PRIMARY KEY (task_id);


--
-- Name: users_data users_data_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_data
    ADD CONSTRAINT users_data_email_key UNIQUE (email);


--
-- Name: users_data users_data_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_data
    ADD CONSTRAINT users_data_pkey PRIMARY KEY (user_id);


--
-- Name: users_data users_data_username_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_data
    ADD CONSTRAINT users_data_username_key UNIQUE (username);


--
-- Name: idx_tasks_data_user_deadline; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_tasks_data_user_deadline ON public.tasks_data USING btree (user_id, deadline);


--
-- Name: idx_tasks_data_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_tasks_data_user_id ON public.tasks_data USING btree (user_id);


--
-- Name: tasks_data tasks_data_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tasks_data
    ADD CONSTRAINT tasks_data_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users_data(user_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict PbyUrD6HD70W1Y6njW8c3OYz8gj0edFzZuqyGJZTqyrzxdxBnutLIeDZ43hYceN

